<a href="https://colab.research.google.com/github/Vamshitha1124/colab-python/blob/main/Python2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [8]:
a = input("enter a string")
c_list = list(a)
del c_list[0]
del c_list[3]
c_list.reverse()
result = ''.join(c_list)
print(result)

enter a string python
notyp

In [9]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
print("Addition:", a + b)
print("Subtraction:", a - b)
print("Multiplication:", a * b)
print("Division:", a / b if b != 0 else "undefined (division by zero)")

Enter first number: 3
Enter second number: 5
Addition: 8
Subtraction: -2
Multiplication: 15
Division: 0.6

In [10]:
sentence = input("Enter a sentence: ")
result = sentence.replace("python", "pythons")
print(result)

Enter a sentence: i love playing python
i love playing pythons

In [11]:

score = float(input("Enter your class score: "))
if score >= 90:
    grade = "A"
elif score >= 80:
    grade = "B"
elif score >= 70:
    grade = "C"
elif score >= 60:
    grade = "D"
else:
    grade = "F"

print("Your grade is:", grade)

Enter your class score: 89.5
Your grade is: B

In [12]:
x = [23, 'Python', 23.98]
print(x)
types = [type(i) for i in x]
print(types)

[23, 'Python', 23.98]
[<class 'int'>, <class 'str'>, <class 'float'>]

In [13]:
IT_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]
#length
print("Length of IT_companies:", len(IT_companies))

#Add 'Twitter'
IT_companies.add("Twitter")
print("After adding Twitter:", IT_companies)

# Insert multiple IT companies at once
IT_companies.update(["TCS", "Infosys", "Wipro"])
print("After adding multiple companies:", IT_companies)

# Remove one of the companies
IT_companies.remove("Oracle")   # will raise error if not found
print("After removing Oracle:", IT_companies)

# Difference between remove and discard
print("Remove() throws error if element not found, discard() does not.")

# Join A and B
print("A union B:", A.union(B))

# A intersection B
print("A intersection B:", A.intersection(B))

# Is A subset of B
print("Is A subset of B?:", A.issubset(B))

# Are A and B disjoint sets
print("Are A and B disjoint?:", A.isdisjoint(B))

# Join A with B and B with A
print("A union B:", A.union(B))
print("B union A:", B.union(A))

# Symmetric difference between A and B
print("Symmetric difference:", A.symmetric_difference(B))

# Delete the sets completely
del A
del B

#convert ages to a set and compare lengths
age_set = set(age)
print("Original list length:", len(age))
print("Set length (unique values):", len(age_set))

Length of IT_companies: 7
After adding Twitter: {'Google', 'Facebook', 'Amazon', 'Apple', 'Microsoft', 'Twitter', 'IBM', 'Oracle'}
After adding multiple companies: {'Amazon', 'Infosys', 'Google', 'Apple', 'Microsoft', 'Twitter', 'IBM', 'Wipro', 'Facebook', 'TCS', 'Oracle'}
After removing Oracle: {'Amazon', 'Infosys', 'Google', 'Apple', 'Microsoft', 'Twitter', 'IBM', 'Wipro', 'Facebook', 'TCS'}
Remove() throws error if element not found, discard() does not.
A union B: {19, 20, 22, 24, 25, 26, 27, 28}
A intersection B: {19, 20, 22, 24, 25, 26}
Is A subset of B?: True
Are A and B disjoint?: False
A union B: {19, 20, 22, 24, 25, 26, 27, 28}
B union A: {19, 20, 22, 24, 25, 26, 27, 28}
Symmetric difference: {27, 28}
Original list length: 8
Set length (unique values): 5